/* Reset e base */
body {
    -webkit-mask-image: -webkit-gradient(linear,
            left top,
            left top,
            from(black),
            to(transparent));
    -webkit-mask-image: linear-gradient(to top, black 90%, transparent 100%);
    mask-image: -webkit-gradient(linear,
            left top,
            left top,
            from(black),
            to(transparent));
    mask-image: linear-gradient(to top, black 90%, transparent 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: "Nunito", sans-serif;
    color: #fff;
}

@keyframes slide_1 {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }

    0.6578947368421052% {
        opacity: 1;
        transform: translateY(0);
    }

    99.3421052631579% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-16px);
    }
}

@keyframes slide_2 {
    0% {
        opacity: 0;
        transform: translateX(-16px);
    }

    0.6578947368421052% {
        opacity: 1;
        transform: none;
    }

    99.3421052631579% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 0;
        transform: translateX(16px);
    }
}

.chat_line {
    animation: slide_1 30400ms;
    animation-fill-mode: forwards;
}

/* Container principal do chat */
#chat {
    width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    overflow: auto;
    background-color: transparent;
    font-size: 34px;
    font-weight: 900;
    word-break: break-word;
    overflow: hidden;
    filter: drop-shadow(0px 0px 0.2rem black);
}

/* Estilo das mensagens */
.username,
.message {
    font-size: 34px;
    line-height: 1em;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 0px black;
    text-shadow: -3px -3px #000000, -3px -2px #000000, -3px -1px #000000,
        -3px 0px #000000, -3px 1px #000000, -3px 2px #000000, -3px 3px #000000,
        -2px -3px #000000, -2px -2px #000000, -2px -1px #000000, -2px 0px #000000,
        -2px 1px #000000, -2px 2px #000000, -2px 3px #000000, -1px -3px #000000,
        -1px -2px #000000, -1px -1px #000000, -1px 0px #000000, -1px 1px #000000,
        -1px 2px #000000, -1px 3px #000000, 0px -3px #000000, 0px -2px #000000,
        0px -1px #000000, 0px 0px #000000, 0px 1px #000000, 0px 2px #000000,
        0px 3px #000000, 1px -3px #000000, 1px -2px #000000, 1px -1px #000000,
        1px 0px #000000, 1px 1px #000000, 1px 2px #000000, 1px 3px #000000,
        2px -3px #000000, 2px -2px #000000, 2px -1px #000000, 2px 0px #000000,
        2px 1px #000000, 2px 2px #000000, 2px 3px #000000, 3px -3px #000000,
        3px -2px #000000, 3px -1px #000000, 3px 0px #000000, 3px 1px #000000,
        3px 2px #000000, 3px 3px #000000;
}

/* Badges */
.badge {
    width: 28px;
    height: 28px;
    margin-left: 4px;
    margin-bottom: 6px;
    vertical-align: middle;
    border-radius: 10%;
}

/* Emotes */
.emote {
    max-width: 128px;
    max-height: 34px;
    margin-right: -3px;
    margin-bottom: 6px;
    vertical-align: middle;
}

/* Emojis */
.emoji {
    max-height: 34px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 6px;
    vertical-align: middle;
}

/* Cheermotes */
.cheer_emote {
    max-width: 128px;
    max-height: 34px;
    margin-right: -3px;
    margin-bottom: 6px;
    vertical-align: middle;
}

.cheer_bits {
    font-size: 34px;
    line-height: 1em;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    -webkit-text-stroke: 0px black;
    text-shadow: -3px -3px #000000, -3px -2px #000000, -3px -1px #000000,
        -3px 0px #000000, -3px 1px #000000, -3px 2px #000000, -3px 3px #000000,
        -2px -3px #000000, -2px -2px #000000, -2px -1px #000000, -2px 0px #000000,
        -2px 1px #000000, -2px 2px #000000, -2px 3px #000000, -1px -3px #000000,
        -1px -2px #000000, -1px -1px #000000, -1px 0px #000000, -1px 1px #000000,
        -1px 2px #000000, -1px 3px #000000, 0px -3px #000000, 0px -2px #000000,
        0px -1px #000000, 0px 0px #000000, 0px 1px #000000, 0px 2px #000000,
        0px 3px #000000, 1px -3px #000000, 1px -2px #000000, 1px -1px #000000,
        1px 0px #000000, 1px 1px #000000, 1px 2px #000000, 1px 3px #000000,
        2px -3px #000000, 2px -2px #000000, 2px -1px #000000, 2px 0px #000000,
        2px 1px #000000, 2px 2px #000000, 2px 3px #000000, 3px -3px #000000,
        3px -2px #000000, 3px -1px #000000, 3px 0px #000000, 3px 1px #000000,
        3px 2px #000000, 3px 3px #000000;
}

/* Elementos ocultos */
.hidden {
    display: none;
}